*{
    margin:0%;
    padding:0;
    box-sizing: border-box;
}  
body{
    width:fit-content;
    height:100vh;
    background-image:url("school.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: 59%;
    background-attachment:fixed;
}
.nav{
    width: 120px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float:left;
    height: 75px;
    color:rgb(102, 10, 248);
    margin-left:-460px;
    margin-top:12px;

}
h5{
    color:rgb(215, 246, 250);
    font-size: 9px;
    margin-top:-2px;
}
p{
    color:rgb(46, 44, 44);
    font-size: 7px;
    position: absolute;
    margin-left:-20px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
    

ul{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-left: -230px;

}
ul li{
    list-style: none;
    margin-left: 50px;
    margin-top:20px;
    font-size: 17px;
}
ul li a {
    text-decoration: none;
    color:black;
    font-family:arial;
    font-weight:bold;
    transition:0.4s ease-in-out;
    border: 3px solid yellow;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin:8px;
    padding:7px;
}
ul li a:hover{
    color:white;
}
.form{
    margin-top:60px;
    float:left;
    margin-left:350px;
    font-family:arial;
background-color: rgb(131,58,180);
background: linear-gradient(to left, #bdbd24 0%, #666699 97%);
height:260px;
width:265px;
text-align:center;
border-radius:30px;
position:absolute;
}
input[type=submit] {
    width: 100px;
    background-color: hsla(249, 93%, 48%, 0.973);
    color:beige;
    padding: 10px 15px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cont{
    position:absolute;
    margin-left:-800px;
    margin-top:-190px;
    color:beige;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #161616;
  }
  .par{
    font-size: 15px;
    color:black;
    text-shadow: none;

    

  }
  .btn{
    background-color: yellow;
    text-decoration: none;
    color:white;
    font-weight:bold;
    transition:0.4s ease-in-out;
    border: 2px dotted rgb(255, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin:5px;
    padding:7px;


  }
 
 button{
    margin-top:45px;
    margin-left:0%;
    padding: 10px 15px;
    border: 1px solid rgb(238, 219, 190);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    background-color:blanchedalmond;

 }
 .containern1{
   width:1000px;
    display:flex;
    flex-wrap:wrap;
   /*border:3px dashed hsl(29, 77%, 37%);*/
    justify-content: space-around;
    margin-top:18%;
    margin-left:10%;

 }
 .yah{
    flex-basis:30%;
    background-image: url(pg.jpg);
    background-size: cover;
    margin:10px 0px;
    text-align: center;
    padding:20px 0px;
    box-shadow: 5px 5px 5px whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    cursor: pointer;
    padding:20px;
    font-size: 20px;
    align-items: center;
    color:aqua;
    text-shadow: 3px 3px 3px black;
 }
 a:link{ text-decoration:none;}
 .lay2{
     border:2px dotted rgb(182, 189, 186);
     width: 60%;
     margin:auto;
     height:350px;
     box-shadow: 10px 10px 5px;
     border-radius: 10px 10px;
     background-image:url(Hey.jpg) ;
    background-size: 100%;
    animation:ChangeImage 30s linear infinite;


 }
 @keyframes ChangeImage{
    20%{
        background-image: url(Can.jpg);
    }
    25%{
        background-image: url(Why.jpg);
    }
    20%{
        background-image: url(Who.jpg);
    }
    50%{
        background-image: url(Imroz.jpg);
    }
    20%{
        background-image: url(Imroz.jpg);
    }
    20%{
        background-image: url(imz.jpg);
    }
 }
 
footer{
    border:1px solid black;
    background-color: rgb(32, 31, 29);
    color:azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:1260px;
    height:500px;
    
    

}
.mda a{text-decoration: none;
    padding:4px;
    font-size: 20px;
    margin-left:70px;
    background-color: aqua;
    border:1px solid white;
    display:inline-block;
}
.fancy{
    --offset:3px;
    position:absolute;
    background-image: url(gray.jpg);
    border-radius: 15px 50px;
    height:50px;
    width:250px;
    border:1px solid black;
    overflow: hidden;
    margin-left:-420px;
    margin-top:40px;
} 
    .fancy p{
        background: transparent;
        color:antiquewhite;
        font-size:1.5rem;
        position:sticky;
        inset:0;
        z-index: 10;
        padding:16px;
        font-size: 15px;

    }
    .fancy::before{
        content:'';
        background:conic-gradient(transparent 90deg,white,aqua,transparent);
        position: absolute;
        top:70%;
        left:70%;
        transform: translate(-50%,-50%);
        aspect-ratio:1;
        width:100%;
        animation:rotate 2s linear infinite;
    }
    .fancy::after{
        content:'';
        background:inherit;
        border-radius: inherit;
        position: absolute;
        inset:var(--offset);
        height:calc(100%-2* var(--offset));
        width:calc(100%-2* var(--offset));
        
    }
    @keyframes rotate {
        from{
            transform:translate(-50%,-50%) scale(1.4) rotate(0turn);
        }
        to{
            transform:translate(-50%,-50%) scale(1.4) rotate(1turn);
        }
    }
        .hd{
            color:pink;
            border:1px solid white;
            font-size: 30px;
            margin-left:400px;
            display: inline-block;
            position:static;
            margin-top:60px;
            background-color:black;
            border-radius: 5px 5px;
            font-family:'Courier New', Courier, monospace;
    
        
         }
        .view{
            flex-basis:100%;
            background-color:white;
            margin:80px 20px;
            text-align: center;
            padding:20px 0px;
            box-shadow: 7px 7px 3px ;
            font-family:Georgia, 'Times New Roman', Times, serif;
            border-radius: 15px;
            cursor: pointer;
            width:900px;
            font-size: 20px;
         }
         .checked{
            color:orange;
         }

        
    @media only screen  and (min-width:200px) and (max-width:767px){ 
        
   .yah{
   width:100%;
    margin:15px;
    background-image: url(pg.jpg);
    background-size: cover;
    background-position: 100%;
    
    
    
   }
   .containern1{
    width:70%;
    flex-direction:column;
    margin:400px 0px;

   }
   
   footer{
   width:1100px;
    flex-direction: column;
    /*top:-415px;*/
    
   }
   .lay2{
    width:60%;
    position:relative;
    top:-300px;
   }
   .view{
    flex-direction: column;
    position: relative;
    top:-200px;

    
   }
   .hd{
    position:relative;
    top:-200px;

   }
   .form{
    position:absolute;
    left:450px;
    margin-top:25%;


   }
   .cont{
    left:70px;
   }
   #d{
    position:relative;
    left:-50px;
   }
   .icon{
    position:relative;
    right:-30px;

   }
   p{
    position:absolute;
    
   }
   ul{
    
   }

     }